<div class="subOpRow">
    <div class="subOpName" *ngIf="!editSubOpName">
        {{subOpe.DESCRIPTION_OPERATION}}
    </div>
    <input #inputSubOpName type="text" name="" id="" value="{{subOpe.DESCRIPTION_OPERATION}}" *ngIf="editSubOpName">
    <div class="editSubOpName edit">
        <button mat-raised-button>EDIT</button>
    </div>
</div>
<div class="step" *ngFor="let step of subOpe.STEPS">
    <div class="stepInstruction">
        <div class="instructionText">
            {{step.INSTRUCTION.INSTRUCTION}}
        </div>
        <div class="instructionImage">
            {{step.INSTRUCTION.IMAGE_URL}}
        </div>
    </div>
    <div class="stepTraca" *ngIf="step.TRACA">
        <div class="tracaText">
            {{step.TRACA.TEXTE_INSTRUCTION}}
        </div>
        <div class="tracaRole">
            {{step.TRACA.ROLE}}
        </div>
    </div>
</div>