<!-- <img src="assets/img/shield.svg" alt="Image bouclier qualité"> -->
<div class="tracaList">
    <!-- <div class="traca" *ngFor="let traca of tracasArray.controls;index as i"> -->
    <div class="traca" *ngFor="let traca of tracas">
        <div>{{traca.TEXTE_TRACA}}</div>
        <div class="control-tool" *ngIf="traca.ECME">
            <div class="tool">{{traca.ECME}} {{traca.designationECME}}</div>
        </div>
        <div>
            <span class="material-icons ok" attr.data-value="{{traca.prodTracaDetail.SANCTION}}"
                (click)="toggleConf($event.target,traca)"
                [ngStyle]="{'color': traca.prodTracaDetail.SANCTION=='1' ? 'green' : ''}">check_circle_outline</span>
            <span class="material-icons nok" attr.data-value="{{traca.prodTracaDetail.SANCTION}}"
                (click)="toggleConf($event.target,traca)"
                [ngStyle]="{'color': traca.prodTracaDetail.SANCTION=='0' ? 'red' : ''}">
                highlight_off</span>


        </div>
        <input type="text" class="comm" *ngIf="traca.prodTracaDetail.SANCTION ==0"
            value="{{traca.prodTracaDetail.COMMENTAIRE}}" (change)="addComment(traca,$event.target.value)" />
    </div>


</div>


<button mat-raised-button (click)="recordTraca()" [disabled]="!enableTraca">CONFIMER</button>