<div class="stepInstruction">
    <h5>instruction</h5>
    <div class="instructionText" *ngIf="!editInstruction">
        {{step.INSTRUCTION.INSTRUCTION}}
    </div>
    <input #inputInstruction type="text" name="" id="" value="{{step.INSTRUCTION.INSTRUCTION}}" *ngIf="editInstruction">
    <div class="editInstruction edit">
        <button mat-icon-button (click)="editInstructionAction()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="instructionImage">
        {{step.INSTRUCTION.IMAGE_URL}}
    </div>
    <button mat-raised-button (click)="editImgAction()">IMAGE</button>
</div>
<div class="stepTraca">
    <h5>traçabilité</h5>
    <div class="traca" *ngIf="step.TRACA">

        <div class="tracaText">
            {{step.TRACA.TEXTE_INSTRUCTION}}
        </div>
        <div class="tracaRole">
            {{step.TRACA.ROLE}}
        </div>
    </div>
    <div class="createTraca" *ngIf="!step.TRACA">
        <span class="material-icons-sharp">add</span>
    </div>
</div>