<div class="prod-process-component">
    <div class="col1" *ngIf="scanInput">
        <app-part-info class="part-info" [prodProcess]="scanInput"></app-part-info>
        <div class="process-nav">
            <app-flow class="flow" [prodProcess]="scanInput" (currentOperation)="showOperation($event)"></app-flow>
            <app-sub-process class="sub-process" [prodProcess]="scanInput" [operation]="currentOperation"
                (currentSubOperation)="showSubOperation($event)" *ngIf="currentOperation"></app-sub-process>
        </div>
    </div>
    <div class="col2">
        <app-sub-operation class="sub-operation" [subOperation]="currentSubOperation" *ngIf="currentSubOperation">
        </app-sub-operation>
    </div>

</div>