:host {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-content: space-around;
    padding: 0.5em;
}
.status {
    width: fit-content;
    display: flex;
}

.status-tri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
